@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@layer base {
  html {
    font-family: Arial, Helvetica, sans-serif;
  }

  body {
    font-family: Arial, Helvetica, sans-serif;
  }
}

@font-face {
  font-family: "Hexco";
  src: url("/fonts/HEXCO.ttf") format("truetype");
}

.logoFont {
  font-family: "Hexco", sans-serif;
}

@keyframes shimmerSlow {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.animate-shimmer-slow {
  animation: shimmerSlow 8s ease-in-out forwards;
}
.animate-delay-1 {
  animation-delay: 1.5s;
}
.animate-delay-2 {
  animation-delay: 3.5s;
}